{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    
    
    
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body class="d-flex justify-content-center align-items-center vh-100" style="
background: url('/static/nids_dashboard/images/cyber-bg.jpg');
background-size: cover;
color: #00ffcc;">

<div class="card">
    <h2>🔁 Set New Password</h2>

    <form method="post">
        {% csrf_token %}
        <input type="password" name="password" placeholder="New Password" required>
        <button type="submit">Reset Password</button>
    </form>
<a href="{% url 'login' %}" class="btn btn-danger">⬅ Back</a>
    {% for message in messages %}
      <p style="color:red;">{{ message }}</p>
    {% endfor %}
</div>

</body>
</html>
