Django>=4.2
pandas
numpy
scikit-learn
joblib
matplotlib
seaborn
django-crispy-forms
crispy-bootstrap5
python-dotenv
requests
twilio
Django==4.2.16
gunicorn==21.2.0
whitenoise==6.6.0

# Database
psycopg2-binary==2.9.9
dj-database-url==2.2.0

# Machine Learning
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# Email / Utilities
python-dotenv==1.0.1

# Security
sqlparse==0.5.0
